<section>
  <div class="container">
    <div class=" container row">
      <div class="ml-5 col-md-6">
        <h2 class="text-center mt-5">Edit Products</h2>
        <form action="/admin/edit-product/{{product._id}}" method="post" id="editProduct" enctype="multipart/form-data">
          <label for="">Brand</label>
          <input type="text" name="name" class="form-control" value="{{product.productData.name}}">
     
          <div class="form-group">
            <label class="control-label" for="product_categorie">PRODUCT CATEGORY</label>
            <div class=" addInput">
              <select id="product_categorie" name="product_categorie" value="{{product.productData.product_categorie}}"
                class="form-control my-select selectpicker" data-container="body">
                <option disabled selected value>Select</option>
                {{#each category}}
                <option value="{{this.categoryData.categoryName}}">{{this.categoryData.categoryName}}
                </option>
                {{/each}}
              </select>
            </div>
          </div>

          <div>
            <label for="">Price</label>
          <input type="tel" name="price" class="form-control" value="{{product.productData.price}}">
          </div>

          <div>
            <p>size</p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="Size" type="checkbox" id="inlineCheckbox1" value="5" />
              <label class="form-check-label" for="inlineCheckbox1">5</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" name="Size" type="checkbox" id="inlineCheckbox2" value="6" />
              <label class="form-check-label" for="inlineCheckbox2">6</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" name="Size" type="checkbox" id="inlineCheckbox3" value="7" />
              <label class="form-check-label" for="inlineCheckbox3">7</label>
            </div>


            <div class="form-check form-check-inline">
              <input class="form-check-input" name="Size" type="checkbox" id="inlineCheckbox1" value="8" />
              <label class="form-check-label" for="inlineCheckbox1">8</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" name="Size" type="checkbox" id="inlineCheckbox2" value="9" />
              <label class="form-check-label" for="inlineCheckbox2">9</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" name="Size" type="checkbox" id="inlineCheckbox3" value="10" />
              <label class="form-check-label" for="inlineCheckbox3">10</label>
            </div>
          </div>

         <div>
           <label for="">Image</label>
          <img src="/product-images/{{product.Image.[0]}}" alt="" style="width: 100px; height:auto;" class="src"
            id="imgView">
          <input type="file" name="Image" class="form-control" onchange="viewImage(event)">
         </div>

          <div>
            <label for="">Image</label>
          <img src="/product-images/{{product.Image.[1]}}" alt="" style="width: 100px; height:auto;" class="src"
            id="imgViews">
          <input type="file" name="Image" class="form-control" onchange="viewImage(event)">
          </div>

          <div>
            <label for="">Image</label>
          <img src="/product-images/{{product.Image.[2]}}" alt="" style="width: 100px; height:auto;" class="src"
            id="img-View">
          <input type="file" name="Image" class="form-control" onchange="viewImage(event)">
          </div>

          <button type="submit" class="btn btn-success mt-4">Submit</button>

        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function viewImage(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    document.getElementById('imgViews').src = URL.createObjectURL(event.target.files[1])
    document.getElementById('img-View').src = URL.createObjectURL(event.target.files[2])
  }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>

<script>
  $("#editProduct").validate({
    rules: {
      name: {
        required: true,
        minlength: 3
      },
      product_categorie: {
        required: true,
      },
      price: {
        required: true,
        minlength: 3
      },
      Image: {
        required: true,
      },
      Image: {
        required: true,
      },
      Image: {
        required: true,
      }
    },
    messages: {
      name: {
        required: "this field is required"
      },
      product_categorie: {
        required: "this field is required"
      },
      price: {
        required: "this field is required"
      },
      Image: {
        required: "this field is required"
      },
      Image: {
        required: "this field is required"
      },
      Image: {
        required: "this field is required"
      }

    }

  }) 
</script>